:root {
    --background-color: #121212;
    --subbackground-color: #242424;
    --font-color: #b3b3b3;
    --font: "DM Sans" , sans-serif;
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,0,7);

  }